<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="wjm.co.kr.wjapp_new">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="false"
            android:icon="@drawable/wjicon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/wjicon"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".JegoInJosaActivity"
                android:label="@string/title_activity_jego_in_josa"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"/>
        <activity
                android:name=".JegoJosaActivity"
                android:label="@string/title_activity_jego_josa"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjCustStockActivity"
                android:label="@string/title_activity_wj_cust_stock"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".Wj2stLoginManageActivity"
                android:label="@string/title_activity_wj2st_login_manage"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjCustJournalActivity"
                android:label="@string/title_activity_wj_cust_journal"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjPodftJisiActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_wj_podft_jisi"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjBoardWriteActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_wj_board_write"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjBoardActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_wj_board"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjSalesTeamReportActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_wj_sales_team_report"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjBalanceManageActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/title_activity_wj_balance_manage"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjOrderActivity"
                android:label="@string/title_activity_wj_order"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjOrderReportActivity"
                android:label="@string/title_activity_wj_order_report"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".CompanyMenuActivity"
                android:label="@string/title_activity_company_menu"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".InventoryMenuActivity"
                android:label="@string/title_activity_inventory_menu"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".TopMainActivity"
                android:label="@string/title_activity_top_main"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjLmReportActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/title_activity_wj_lm_report"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjJaegoReportActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/title_activity_wj_jaego_report"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjSalesReportActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/title_activity_wj_sales_report"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".JegoJJScanActivity"
                android:label="@string/title_activity_jego_jjscan"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".JegoScanResultActivity"
                android:label="@string/title_activity_jego_scan_result"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".JegoScanActivity"
                android:label="@string/title_activity_jego_scan"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
                android:name=".WjmMain"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".bluetooth.DeviceListActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/select_device"
                android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>